@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 5rem;
  background-image: linear-gradient(to bottom, #9578ff, #000957);
}

section {
  padding-top: 4rem;
}

.lead {
    color: white;
}

  .row p {
    font-family: Helvetica, sans-serif;
    text-align: justify;
    /* Ganti 'Arial' dengan jenis font yang Anda inginkan */
    /* 'sans-serif' adalah jenis font cadangan yang akan digunakan jika jenis font utama tidak tersedia */
  }

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 2rem;
}

.col-md-6 {
  width: 80%;  Ubah persentase sesuai dengan keinginan Anda */
  margin: 0 auto; /* Untuk membuatnya berada di tengah */
}

  /* Mengubah warna latar belakang dan lebar tombol Kirim */
  .btn-kirim {
    background-image:#515BD4; /* Warna latar belakang hijau */
    width: 100%; /* Mengatur lebar menjadi 100% dari parent */
    padding: 10px; /* Menambahkan padding untuk membuat tombol lebih tinggi */
    color: rgb(255, 255, 255); /* Warna teks putih */
    border: none; /* Menghilangkan border */
    border-radius: 20px; /* Menambahkan radius border */
  }

    /* Mengubah input dan textarea menjadi bulat */
    .form-control {
      border-radius: 20px; /* Menambahkan radius border */
    }

/* Mengubah tampilan gambar menjadi rounded */
  .card-img-top {
    border-radius: 20%; /* Membuat gambar menjadi bulat */
  }

/* Mengubah tampilan gambar menjadi rounded */

.card {
  border-radius: 1%;
  background-color: transparent;
  border: none;
  box-shadow: none;
}
